@model Borealis.Models.TimeRegistrationViewModel

<div class="row">
	<div class="col-md-12">
		<table class="table-responsive table-hover table-striped table">
			<thead>
				<tr>
					<th></th>
					<th>Ime i prezime</th>
					<th>Vrijeme</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@if (Model.Participants.Count() > 0)
				{
					var i = 1;
					foreach (var participant in Model.Participants)
					{
						<tr>
							<td>@i</td>
							<td>@participant.Name @participant.Surname</td>
							<td>@participant.RaceTime</td>
							<td><button class="btn btn-danger">Odbaci</button></td>
						</tr>
						{
							i++;
						}
					}
				}
			</tbody>
		</table>
	</div>
</div>
